@use "variables";

.app {
  text-align: center;

  &__header {
    @include variables.flex-centered;

    padding: 24px;
    font-size: 32px;
    font-weight: bold;
    color: variables.$second-font-color;
    background-color: variables.$second-bg-color;
  }

  &__content {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
}
