@use "../../styles/variables";

.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 400px;
  height: max-content;
  grid-template-areas:
    "label label"
    "avatar info";

  &__label {
    grid-area: label;
    padding: 5px;
    font-weight: bold;
    color: variables.$second-font-color;
    background-color: variables.$second-bg-color;
  }

  &__info {
    grid-area: info;
  }
}

@media (max-width: 576px) {
  .profile {
    width: 320px;
  }
}
