@use "../../styles/variables";

.profile {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr;
  height: max-content;
  grid-template-areas:
    "label label"
    "avatar info";

  &__label {
    grid-area: label;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: bold;
    color: variables.$second-font-color;
    background-color: variables.$second-bg-color;
  }

  &__info {
    grid-area: info;
    margin: 0 20px;
    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: start;
  }

  &__field_label {
    justify-self: start;
  }
}
